<!-- <div class="top-wrap">
    <div class="container">
    <div class="row">
    <div class="col-md col-xl-5 d-flex align-items-center">
    <a class="navbar-brand align-items-center" href="index.html">
    Academia
    <span>Online Education &amp; Learning</span>
    </a>
    </div>
    <div class="col-md d-flex align-items-center">
    <div class="con d-flex">
    <div class="icon"><span class="material-symbols-outlined">
        desktop_mac
        </span></div>
    <div class="text">
    <span>Monday - Friday</span>
    <strong>8:00AM-8:00PM</strong>
    </div>
    </div>
    </div>
    <div class="col-md d-flex align-items-center">
    <div class="con d-flex">
    <div class="icon"><span class="material-symbols-outlined">
        desktop_mac
        </span></div>
    <div class="text">
    <span>Call Us</span>
    <strong>+2 392 3929 210</strong>
    </div>
    </div>
    </div>
    <div class="col-md d-flex justify-content-end align-items-center">
    <div class="social-media">
    <p class="mb-0 d-flex">
    <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
    <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
    <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
    <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
    </p>
    </div>
    </div>
    </div>
    </div>
    </div>

    <section class="hero-wrap hero-wrap-2" style="background-image: url('assets/assets/images/bg_2.jpg');">
        <div class="overlay"></div>
        <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 pt-5 mt-5 text-center">
        <p class="breadcrumbs"><span class="me-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span>Blog <i class="fa fa-chevron-right"></i></span></p>
        <h1 class="mb-0 bread">Blog Posts</h1>
        </div>
        </div>
        </div>
        </section>
        <section class="ftco-section">
        <div class="container-xl">
        <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 d-flex">
        <div class="blog-entry justify-content-end" data-aos="flip-right center wow fadeInDown top__element">
        <a href="blog-single.html" class="block-20 img" style="background-image: url('assets/assets/images/image_1.jpg');">
        </a>
        <div class="text">
        <p class="meta"><span><i class="fa fa-user me-1"></i>Admin</span> <span><i class="fa fa-calendar me-1"></i>Jan. 18, 2021</span> <span><a href="#"><i class="fa fa-comment me-1"></i> 3 Comments</a></span></p>
        <h3 class="heading mb-3"><a href="#">Build your Dream Software &amp; Engineering Career</a></h3>
        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
        </div>
        </div>
        </div>
        <div class="col-md-6 col-lg-4 d-flex">
        <div class="blog-entry justify-content-end" data-aos="flip-right center wow fadeInDown top__element">
        <a href="blog-single.html" class="block-20 img" style="background-image: url('assets/assets/images/image_2.jpg');">
        </a>
        <div class="text">
        <p class="meta"><span><i class="fa fa-user me-1"></i>Admin</span> <span><i class="fa fa-calendar me-1"></i>Jan. 18, 2021</span> <span><a href="#"><i class="fa fa-comment me-1"></i> 3 Comments</a></span></p>
        <h3 class="heading mb-3"><a href="#">Build your Dream Software &amp; Engineering Career</a></h3>
        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
        </div>
        </div>
        </div>
        <div class="col-md-6 col-lg-4 d-flex">
        <div class="blog-entry justify-content-end" data-aos="flip-right center wow fadeInDown top__element" >
        <a href="blog-single.html" class="block-20 img" style="background-image: url('assets/assets/images/image_3.jpg');">
        </a>
        <div class="text">
        <p class="meta"><span><i class="fa fa-user me-1"></i>Admin</span> <span><i class="fa fa-calendar me-1"></i>Jan. 18, 2021</span> <span><a href="#"><i class="fa fa-comment me-1"></i> 3 Comments</a></span></p>
        <h3 class="heading mb-3"><a href="#">Build your Dream Software &amp; Engineering Career</a></h3>
        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
        </div>
        </div>
        </div>
        <div class="col-md-6 col-lg-4 d-flex">
        <div class="blog-entry justify-content-end" data-aos="flip-right center wow fadeInDown top__element" >
        <a href="blog-single.html" class="block-20 img" style="background-image: url('assets/assets/images/image_4.jpg');">
        </a>
        <div class="text">
        <p class="meta"><span><i class="fa fa-user me-1"></i>Admin</span> <span><i class="fa fa-calendar me-1"></i>Jan. 18, 2021</span> <span><a href="#"><i class="fa fa-comment me-1"></i> 3 Comments</a></span></p>
        <h3 class="heading mb-3"><a href="#">Build your Dream Software &amp; Engineering Career</a></h3>
        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
        </div>
        </div>
        </div>
        <div class="col-md-6 col-lg-4 d-flex">
        <div class="blog-entry justify-content-end" data-aos="flip-right center wow fadeInDown top__element">
        <a href="blog-single.html" class="block-20 img" style="background-image: url('assets/assets/images/image_5.jpg');">
        </a>
        <div class="text">
        <p class="meta"><span><i class="fa fa-user me-1"></i>Admin</span> <span><i class="fa fa-calendar me-1"></i>Jan. 18, 2021</span> <span><a href="#"><i class="fa fa-comment me-1"></i> 3 Comments</a></span></p>
        <h3 class="heading mb-3"><a href="#">Build your Dream Software &amp; Engineering Career</a></h3>
        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
        </div>
        </div>
        </div>
        <div class="col-md-6 col-lg-4 d-flex">
        <div class="blog-entry justify-content-end" data-aos="flip-right center wow fadeInDown top__element" >
        <a href="blog-single.html" class="block-20 img" style="background-image: url('assets/assets/images/image_6.jpg');">
        </a>
        <div class="text">
        <p class="meta"><span><i class="fa fa-user me-1"></i>Admin</span> <span><i class="fa fa-calendar me-1"></i>Jan. 18, 2021</span> <span><a href="#"><i class="fa fa-comment me-1"></i> 3 Comments</a></span></p>
        <h3 class="heading mb-3"><a href="#">Build your Dream Software &amp; Engineering Career</a></h3>
        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
        </div>
        </div>
        </div>
        </div>
        <div class="row mt-5">
        <div class="col text-center">
        <div class="block-27">
        <ul>
        <li><a href="#">&lt;</a></li>
        <li class="active"><span>1</span></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&gt;</a></li>
        </ul>
        </div>
        </div>
        </div>
        </div>
        </section>
        <section class="ftco-intro py-5 bg-primary">
        <div class="container">
        <div class="row d-flex justify-content-center">
        <div class="col-lg-10">
        <div class="row g-lg-5">
        <div class="col-md-7 text-lg-right">
        <h2 class="mb-0">Newsletter - Stay tune and get the latest update</h2>
        <p>Far far away, behind the word mountains</p>
        </div>
        <div class="col-md-5 border-left d-flex align-items-center">
        <form action="#" class="subscribe-form">
        <div class="form-group d-flex align-items-center">
        <input type="text" class="form-control" placeholder="Enter email address">
        <a href="#" class="btn-icon"><span class="fa fa-paper-plane"></span></a>
        </div>
        </form>
        </div>
        </div>
        </div>
        </div>
        </div>
        </section> -->
        <div class="top-wrap">
            <div class="container">
            <div class="row">
            <div class="col-md col-xl-5 d-flex align-items-center">
            <a class="navbar-brand align-items-center" href="index.html">
            Academia
            <span>Online Education &amp; Learning</span>
            </a>
            </div>
            <div class="col-md d-flex align-items-center">
            <div class="con d-flex">
            <div class="icon"><span class="material-symbols-outlined">
                schedule
                </span></div>
            <div class="text">
            <span>Monday - Friday</span>
            <strong>8:00AM-8:00PM</strong>
            </div>
            </div>
            </div>
            <div class="col-md d-flex align-items-center">
            <div class="con d-flex">
            <div class="icon"><span class="material-symbols-outlined">
                ad_units
                </span></div>
            <div class="text">
            <span>Call Us</span>
            <strong>+2 392 3929 210</strong>
            </div>
            </div>
            </div>
            <div class="col-md d-flex justify-content-end align-items-center">
            <div class="social-media">
            <p class="mb-0 d-flex">
            <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
            <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
            <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
            <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
            </p>
            </div>
            </div>
            </div>
            </div>
            </div>
            <section class="hero-wrap hero-wrap-2" style="background-image: url('assets/images/bg_2.jpg');">
                <div class="overlay"></div>
                <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 pt-5 mt-5 text-center">
                <p class="breadcrumbs"><span class="me-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span>About us <i class="fa fa-chevron-right"></i></span></p>
                <h1 class="mb-0 bread">About Us</h1>
                </div>
                </div>
                </div>
                </section>
                <section class="ftco-section ftco-no-pt ftco-no-pb">
                <div class="container-xl">
                <div class="row g-xl-5">
                <div class="col-md-6 d-flex align-items-stretch center wow fadeInDown top__element">
                <div class="img w-100" style="background-image: url(assets/images/about.jpg);">
                </div>
                </div>
                <div class="col-md-6 heading-section d-flex align-items-center center wow fadeInDown top__element" >
                <div class="mt-0 my-lg-5 py-5">
                <span class="subheading">Learn Anything</span>
                <h2 class="mb-2">Benefits About Online Learning Expertise</h2>
                <div class="row mt-4 g-lg-2">
                <div class="col-lg-12 d-flex align-items-stretch services-wrap">
                <div class="services d-flex">
                <div class="icon"><span class="material-symbols-outlined">
                    computer
                    </span></div>
                <div class="text">
                <h2>Online Courses</h2>
                <p class="mb-0">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
                </div>
                </div>
                <div class="col-lg-12 d-flex align-items-stretch services-wrap">
                <div class="services d-flex">
                <div class="icon"><span class="material-symbols-outlined">
                    computer
                    </span></div>
                <div class="text">
                <h2>Earn A Certificates</h2>
                <p class="mb-0">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
                </div>
                </div>
                <div class="col-lg-12 d-flex align-items-stretch services-wrap">
                <div class="services d-flex">
                <div class="icon"><span class="material-symbols-outlined">
                    computer
                    </span></div>
                <div class="text">
                <h2>Learn with Expert</h2>
                <p class="mb-0">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                </section>
                <section class="ftco-section-counter img" style="background-image: url(assets/images/bg_3.jpg);">
                <div class="overlay"></div>
                <div class="container">
                <div class="row section-counter">
                <div class="col-sm-6 col-md-6 col-lg-3 d-flex align-items-stretch">
                <div class="counter-wrap-2 d-flex center wow fadeInDown top__element">
                <div class="icon">
                    <span class="material-symbols-outlined">
                        task_alt
                        </span>
                </div>
                <div class="text">
                <h2 class="number"><span class="countup">3000</span></h2>
                <span class="caption">Success Stories</span>
                </div>
                </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3 d-flex align-items-stretch">
                <div class="counter-wrap-2 d-flex center wow fadeInDown top__element" >
                <div class="icon">
                    <span class="material-icons md-24">face</span>  
                </div>
                <div class="text">
                <h2 class="number"><span class="countup">320</span></h2>
                <span class="caption">Trusted Tutors</span>
                </div>
                </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3 d-flex align-items-stretch">
                <div class="counter-wrap-2 d-flex center wow fadeInDown top__element">
                <div class="icon">
                    <span class="material-symbols-outlined">
                        calendar_month
                        </span>                </div>
                <div class="text">
                <h2 class="number"><span class="countup">1000</span></h2>
                <span class="caption">Schedules</span>
                </div>
                </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3 d-flex align-items-stretch">
                <div class="counter-wrap-2 d-flex center wow fadeInDown top__element" >
                <div class="icon">
                    <span class="material-symbols-outlined">
                        computer
                        </span>
                </div>
                <div class="text">
                <h2 class="number"><span class="countup">587</span></h2>
                <span class="caption">Courses</span>
                </div>
                </div>
                </div>
                </div>
                </div>
                </section>
                <section class="ftco-section testimony-section bg-light">
                <div class="container-xl">
                <div class="row justify-content-center pb-4">
                <div class="col-md-7 text-center heading-section center wow fadeInDown top__element" >
                <span class="subheading">Testimonial</span>
                <h2 class="mb-5">Our Successful Students</h2>
                </div>
                </div>
                <div class="row">
                <div class="col-md-12 center wow fadeInDown top__element" >
                <div class="carousel-testimony">
                <div class="item">
                <div class="testimony-wrap">
                <div class="text">
                <div class="d-flex align-items-center mb-4">
                <div class="user-img" style="background-image: url(assets/images/person_1.jpg)">
                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></span>
                </div>
                <div class="ps-3 tx">
                <p class="name"></p>
                <span class="position"></span>
                </div>
                </div>
                <p class="mb-4 msg">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
                </div>
                </div>
                <div class="item">
                <div class="testimony-wrap">
                <div class="text">
                <div class="d-flex align-items-center mb-4">
                <div class="user-img" style="background-image: url(assets/images/person_2.jpg)">
                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></span>
                </div>
                <div class="ps-3 tx">
                <p class="name"></p>
                <span class="position"></span>
                </div>
                </div>
                <p class="mb-4 msg">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
                </div>
                </div>
                <div class="item">
                <div class="testimony-wrap">
                <div class="text">
                <div class="d-flex align-items-center mb-4">
                <div class="user-img" style="background-image: url(assets/images/person_3.jpg)">
                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></span>
                </div>
                <div class="ps-3 tx">
                <p class="name"></p>
                <span class="position"></span>
                </div>
                </div>
                <p class="mb-4 msg">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
                </div>
                </div>
                <div class="item">
                <div class="testimony-wrap">
                <div class="text">
                <div class="d-flex align-items-center mb-4">
                <div class="user-img" style="background-image: url(assets/images/person_1.jpg)">
                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></span>
                </div>
                <div class="ps-3 tx">
                <p class="name"></p>
                <span class="position"></span>
                </div>
                </div>
                <p class="mb-4 msg">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
                </div>
                </div>
                <div class="item">
                <div class="testimony-wrap">
                <div class="text">
                <div class="d-flex align-items-center mb-4">
                <div class="user-img" style="background-image: url(assets/images/person_2.jpg)">
                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></span>
                </div>
                <div class="ps-3 tx">
                <p class="name"></p>
                <span class="position"></span>
                 </div>
                </div>
                <p class="mb-4 msg">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                <section class="ftco-intro py-5 bg-primary">
                <div class="container">
                <div class="row d-flex justify-content-center">
                <div class="col-lg-10">
                <div class="row g-lg-5">
                <div class="col-md-7 text-lg-right">
                <h2 class="mb-0">Newsletter - Stay tune and get the latest update</h2>
                <p>Far far away, behind the word mountains</p>
                </div>
                <div class="col-md-5 border-left d-flex align-items-center">
                <form action="#" class="subscribe-form">
                <div class="form-group d-flex align-items-center">
                <input type="text" class="form-control" placeholder="Enter email address">
                <a href="#" class="btn-icon"><span class="fa fa-paper-plane"></span></a>
                </div>
                </form>
                </div>
                </div>
                </div>
                </div>
                </div>
                </section>
                