<div class="top-wrap">
    <div class="container">
    <div class="row">
    <div class="col-md col-xl-5 d-flex align-items-center center wow fadeInDown top__element">
    <a class="navbar-brand align-items-center" href="index.html">
    Academia
    <span>Online Education &amp; Learning</span>
    </a>
    </div>
    <div class="col-md d-flex align-items-center center wow fadeInDown top__element">
    <div class="con d-flex">
    <div class="icon"><span class="material-symbols-outlined">
        schedule
        </span></div>
    <div class="text">
    <span>Monday - Friday</span>
    <strong>8:00AM-8:00PM</strong>
    </div>
    </div>
    </div>
    <div class="col-md d-flex align-items-center center wow fadeInDown top__element">
    <div class="con d-flex">
    <div class="icon"><span class="material-symbols-outlined">
        ad_units
        </span></div>
    <div class="text">
    <span>Call Us</span>
    <strong>+2 392 3929 210</strong>
    </div>
    </div>
    </div>
    <div class="col-md d-flex justify-content-end align-items-center center wow fadeInDown top__element">
    <div class="social-media">
    <p class="mb-0 d-flex">
    <a href="#" class="d-flex align-items-center justify-content-center center wow fadeInDown top__element"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
    <a href="#" class="d-flex align-items-center justify-content-center center wow fadeInDown top__element"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
    <a href="#" class="d-flex align-items-center justify-content-center center wow fadeInDown top__element"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
    <a href="#" class="d-flex align-items-center justify-content-center center wow fadeInDown top__element"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
    </p>
    </div>
    </div>
    </div>
    </div>
    </div>
    <section class="hero-wrap hero-wrap-2" style="background-image: url('assets/images/bg_2.jpg');">
        <div class="overlay"></div>
        <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center center wow fadeInDown top__element">
        <div class="col-md-9 pt-5 mt-5 text-center">
        <p class="breadcrumbs"><span class="me-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span>Contact <i class="fa fa-chevron-right"></i></span></p>
        <h1 class="mb-0 bread">Contact us</h1>
        </div>
        </div>
        </div>
        </section>
        <section class="ftco-section bg-light">
        <div class="container">
        <div class="row no-gutters justify-content-center">
        <div class="col-md-12">
        <div class="wrapper">
        <div class="row g-0">
        <div class="col-lg-6 order-lg-last center wow fadeInDown top__element">
        <div class="contact-wrap w-100 p-md-5 p-4">
        <h3>Contact us</h3>
        <p class="mb-4">We're open for any suggestion or just to have a chat</p>
        <div class="row mb-4">
        <div class="col-md-4">
        <div class="dbox w-100 d-flex align-items-start center wow fadeInDown top__element">
        <div class="text">
        <p><span>Address:</span> 198 West 21th Street, Suite 721 New York NY 10016</p>
        </div>
        </div>
        </div>
        <div class="col-md-4">
        <div class="dbox w-100 d-flex align-items-start center wow fadeInDown top__element">
        <div class="text">
        <p><span>Email:</span> <a href="/cdn-cgi/l/email-protection#97fef9f1f8d7eef8e2e5e4fee3f2b9f4f8fa"><span class="__cf_email__" data-cfemail="e68f888089a69f899394958f9283c885898b">[email&#160;protected]</span></a></p>
        </div>
        </div>
        </div>
        <div class="col-md-4 center wow fadeInDown top__element">
        <div class="dbox w-100 d-flex align-items-start">
        <div class="text">
        <p><span>Phone:</span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
        </div>
        </div>
        </div>
        </div>
        <form id="contactForm" name="contactForm" class="contactForm">
        <div class="row">
        <div class="col-lg-6">
        <div class="form-group">
        <input type="text" class="form-control" name="name" id="name" placeholder="Name">
        </div>
        </div>
        <div class="col-lg-6">
        <div class="form-group">
        <input type="email" class="form-control" name="email" id="email" placeholder="Email">
        </div>
        </div>
        <div class="col-md-12">
        <div class="form-group">
        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
        </div>
        </div>
        <div class="col-md-12">
        <div class="form-group">
        <textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Create a message here"></textarea>
        </div>
        </div>
        <div class="col-md-12">
        <div class="form-group">
        <input type="submit" value="Send Message" class="btn btn-primary">
        <div class="submitting"></div>
        </div>
        </div>
        </div>
        </form>
        <div class="w-100 social-media mt-5">
        <h3>Follow us here</h3>
        <p>
        <a href="#">Facebook</a>
        <a href="#">Twitter</a>
        <a href="#">Instagram</a>
        <a href="#">Dribbble</a>
        </p>
        </div>
        </div>
        </div>
        <div class="col-lg-6 d-flex align-items-stretch center wow fadeInDown top__element">
        <div id="map" class="bg-white"></div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </section>
        <section class="ftco-intro py-5 bg-primary">
        <div class="container">
        <div class="row d-flex justify-content-center">
        <div class="col-lg-10">
        <div class="row g-lg-5">
        <div class="col-md-7 text-lg-right center wow fadeInDown top__element">
        <h2 class="mb-0">Newsletter - Stay tune and get the latest update</h2>
        <p>Far far away, behind the word mountains</p>
        </div>
        <div class="col-md-5 border-left d-flex align-items-center center wow fadeInDown top__element">
        <form action="#" class="subscribe-form">
        <div class="form-group d-flex align-items-center">
        <input type="text" class="form-control" placeholder="Enter email address">
        <a href="#" class="btn-icon"><span class="fa fa-paper-plane"></span></a>
        </div>
        </form>
        </div>
        </div>
        </div>
        </div>
        </div>
        </section>
       